---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1 class="post-title" style="font: size 10%;">
            <center>
              >. 
           <span class="font-weight-bold">{{ site.first_name }} {{ site.official_name }} {{ site.last_name }}</span>
            </center>
          </h1>
          <br>
          <center>
          <p class="desc">Engineer &nbsp; | &nbsp; Artist &nbsp; | &nbsp; Innovator</p>
          </center>

          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>
          </div>
          
        </header>

        <article>
          <div class="profile float-right">
            {%- assign profile_image_path = 's8.gif' | prepend: 'assets/img/' -%}

            {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
            {%- assign caption = "Skating" -%}

            {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              caption = caption
              -%}    
          </div>

          <div class="profile float-left">
            {%- assign profile_image_path = 'hyperlock.png' | prepend: 'assets/img/' -%}

            {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
            {%- assign caption = "Research" -%}

            {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              caption = caption
              -%}
           
          </div>

          <div class="profile" style = "margin: 0 auto;">
            {%- assign profile_image_path = 'solardemo.gif' | prepend: 'assets/img/' -%}

            {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
            {%- assign caption = "Projects" -%}

            {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              caption = caption
              -%}
                        
          </div>

        </article>
        <br>
        <br>
</div>
