---
layout: default
---
<!-- page.html -->
<div class="post">
  <header class="post-header">
          <h1 class="post-title" style="font: size 20%;">
              >. 
              <span class="font-weight-bold" id="typewriter"></span>
          </h1>
          <br>
          <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

</div>


<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<script type="text/javascript">
  var app = document.getElementById('typewriter');

  var typewriter = new Typewriter(app, {
    loop: false,
    delay: 75,
  });

  typewriter
    .start()
    .typeString('Projects')
</script>
